@keyframes pulsate {
	0% {
		background: #f9db45;
		border: 1px solid #333;
		color: #333;
	}
	50% {
		background: #333;
		border: 1px solid #333;
		color: #f9db45;
	}
	100% {
		background: #f9db45;
		border: 1px solid #333;
		color: #333;
	}
}

button[data-id='ddlSticky'] {
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px 6px;
}

.dropdown-menu .text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.options-div {
	padding: 10px 0;
}

.select-div {
	text-align: right;
	font-weight: bold;
}

#buttons,
#aside {
	margin-bottom: 10px;
}
.pulsate {
	-moz-animation: pulsate 2s;
	-o-animation: pulsate 2s;
	-webkit-animation: pulsate 2s;
	animation: pulsate 2s;
	animation-iteration-count: 3;
}

body {
	background: #98d9f9 url(../images/simpsons_clouds.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: initial;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 16px;
	overflow-y: scroll;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.custom-container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

#stickyNav {
	background-color: #333;
	color: #fff;
	border-bottom: 2px solid #fff;
	width: 100%;
	padding: 10px 0;
	font-weight: bold;
	text-align: center;
	z-index: 99999;
}

#ddlSticky {
	color: #000;
	margin-left: 10px;
}

.fixed {
	position: fixed;
	left: 0;
	top: 0;
}

.contents {
	position: relative;
}

h1 {
	color: #2980b9;
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

label {
	font-weight: bold;
	margin-bottom: 10px;
}

input {
	font-family: 'Arial', 'Helvetica', sans-serif;
}

.title-image {
	display: block;
	margin: 50px auto 10px auto;
	width: 772px;
}

.form-message {
	font-weight: bold;
	padding: 10px 0 0 0;
}

.red {
	color: #f00;
}

.green {
	color: #5cb85c;
}

.form-control, 
.btn {
	border-radius: 0 !important;
}

.btn {
	font-family: Arial, Helvetica, sans-serif;
}

.btn-option {
	background-image: linear-gradient(to bottom, #f9db45, #e2c543);
	border: 1px solid #333;
	color: #333;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 16px;
	margin: 3px 6px 3px 0;
	padding: 5px 10px;
	text-decoration: none;
}

.btn-option:hover
{
	background: #666;
	background-image: none;
	color: #f9db45;
}

.btn-option:active, 
.btn-option:focus, 
.btn-selected {
	background: #333;
	background-image: none;
	color: #f9db45;
}

.num-gifs {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1px;
	font-size: 14px;
}

.add-well {
	background-color: #333;
	border: 2px solid #fff;
	color: #fff;
	padding: 15px;
}

.result-list {
	list-style-type: none;
}

.result-list>li {
	background-color: #fff;
	border: 1px solid #000;
	float: left;
	padding: 5px;
	text-align: center;
	position: relative;
}

.img-div {
	overflow: hidden;
	width: 100%;
}

.result-image {
	cursor: pointer;
	height: auto;
	width: 100%;
}

.rating-span {
	color: #000;
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

.hidden { 
	display: none !important;
}

.sidebar {
	background-color: #ccc;
	border: 1px solid #666;
	margin: 20px 0 0 10px;
	padding: 10px;
}


.hint-div {
	font-weight: bold;
	font-size: 18px;
}

.clearfix::after {
	clear: both;
	content: "";
	display: block;
}

.about {
	background-color: #f9db45;
	border-bottom: 2px solid #fff;
	color: #333;
	padding: 10px 0;
	margin-bottom: 20px;
}

.about a {
	color: #333;
	text-decoration: underline;
}

.about a:hover,
.about a:active,
.about a:focus {
 	color: #333;
}

.social {
	float: right;
	font-size: 18px;
	list-style: none;
	max-width: 200px;
}

.social li {
	float: left;
	margin-right: 10px;
}

.social li a {
	color: #000;
	text-decoration: none;
}

.social li a:hover {
  	color: #3498db;
}

.social li:last-of-type {
	margin-right: 0;
}

@media screen and (min-width: 1921px) {
	body {
		background-size: 100%;
	}
}

@media screen and (max-width: 1199px) {
	#input {
		width: 250px;
	}
}

@media screen and (max-width: 1188px) {
	.custom-container {
		width: 100% !important;
	}
}

@media screen and (max-width: 767px) {
	.form-control {
		width: initial !important;
		display: inline-block !important;
	}

	.options-div, .select-div {
		text-align: center;
	}

	.hint-div {
		display: none;
	}

	.about {
        text-align: center;
        line-height: 1.5;
	}

    .social {
        list-style: none;
        position: relative;
        float: left;
        display: block;
        left: 50%;
    }
    .social li {
        position: relative;
        float: left;
        display: block;
        right: 50%;
    }
}